## Exploratory Data Analysis
### Part 1: Splitting the files into training and testing sets

In [9]:
import pandas as pd
import numpy as np

### Flights Dataset

In [16]:
# Loading the data from the flights .csv file and specifying the separator
df_flights_subset = pd.read_csv("/Users/rafaelaqueiroz/Mid-Term-Project-I/DataFiles/flights_10K.csv", sep=",")
df_flights_subset

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-12-04,WN,WN,WN,280,WN,N902WN,280,13796,OAK,...,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-05-17,DL,DL_CODESHARE,DL,3529,OO,N554CA,3529,10627,BIS,...,386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-27,DL,DL_CODESHARE,DL,6060,YX,N873RW,6060,12339,IND,...,660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-28,UA,UA_CODESHARE,UA,4922,C5,N14198,4922,10785,BTV,...,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-02-21,UA,UA,UA,780,UA,N409UA,780,11775,FSD,...,483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-07-21,AA,AA,AA,1966,AA,N178US,1966,11298,DFW,...,868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,2019-02-06,DL,DL_CODESHARE,DL,6079,YX,N874RW,6079,11042,CLE,...,622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,2018-12-07,AA,AA_CODESHARE,AA,5398,OH,N718PS,5398,14100,PHL,...,477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,2018-05-25,DL,DL,DL,956,DL,N851DN,956,12478,JFK,...,2248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,2018-05-11,AA,AA,AA,117,AA,N105NN,117,12478,JFK,...,2475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Splitting the dataset into training and testing sets
train_df_flights_subset, test_df_flights_subset = train_test_split(df_flights_subset, test_size=0.3, random_state=42)

In [18]:
# Writing the training and testing sets to CSV files
train_df_flights_subset.to_csv("train_flights_subset.csv", index=False)
test_df_flights_subset.to_csv("test_flights_subset.csv", index=False)

### Fuel Consumption Dataset

In [19]:
# Loading the data from the fuel consumption .csv file and specifying the separator
df_fuel_subset = pd.read_csv("/Users/rafaelaqueiroz/Mid-Term-Project-I/DataFiles/fuel_consumption.csv", sep=",")
df_fuel_subset

,month,airline_id,unique_carrier,carrier,carrier_name,carrier_group_new,sdomt_gallons,satl_gallons,spac_gallons,slat_gallons,...,sdomt_cost,satl_cost,spac_cost,slat_cost,sint_cost,ts_cost,tdomt_cost,tint_cost,total_cost,year
0,1,NaN,NaN,0JQ,NaN,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,5100,0.0,5100,2016
1,1,21352.0,0WQ,0WQ,Avjet Corporation,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,396216,140239.0,536455,2016
2,1,21645.0,23Q,23Q,Songbird Airways Inc.,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
3,1,21652.0,27Q,27Q,"Jet Aviation Flight Services, Inc.",1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2016
4,1,20408.0,5V,5V,Tatonduk Outfitters Limited d/b/a Everts Air A...,1,260848.0,0.0,0.0,0.0,...,522405,0.0,0.0,0.0,0.0,522405,569497,0.0,569497,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,12,20377.0,X9,X9,Omni Air International LLC,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,1584314,4588387.0,6172701,2018
3031,12,20207.0,XP,XP,XTRA Airways,1,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2018
3032,12,20378.0,YV,YV,Mesa Airlines Inc.,2,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0,0,0.0,0,2018
3033,12,20452.0,YX,YX,Republic Airline,2,21048.0,0.0,0.0,0.0,...,50043,0.0,0.0,0.0,0.0,50043,50043,0.0,50043,2018
3034,12,19393.0,WN,WN,Southwest Airlines Co.,3,173203901.0,0.0,0.0,2440902.0,...,351339537,0.0,0.0,5730304.0,5730304.0,357069841,351820604,5730304.0,357550908,2018

In [20]:
# Splitting the dataset into training and testing sets
train_df_fuel_subset, test_df_fuel_subset = train_test_split(df_fuel_subset, test_size=0.3, random_state=42)

In [21]:
# Writing the training and testing sets to CSV files
train_df_fuel_subset.to_csv("train_fuel_subset.csv", index=False)
test_df_fuel_subset.to_csv("test_fuel_subset.csv", index=False)

### Passengers Dataset

In [12]:
# Loading the data from the passengers .csv file and specifying the separator
df_passengers_subset = pd.read_csv("/Users/rafaelaqueiroz/Mid-Term-Project-I/DataFiles/passenger_10K.csv", sep=",")
df_passengers_subset

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0,2,4008,20,11,0,0,333,0,0,...,CA,Canada,6,609,1,2018,12,1,L,IF
1,3,3,37500,150,138,0,0,241,226,146,...,US,United States,6,629,1,2016,5,1,F,DU
2,13,13,1377258,0,0,840143,0,655,1448,1181,...,US,United States,6,691,2,2017,9,2,G,DU
3,1,1,17730,0,0,5489,0,131,49,38,...,US,United States,4,442,2,2017,2,1,G,DU
4,18,18,3107373,0,0,1300356,0,760,2007,1666,...,US,United States,7,732,2,2015,8,2,G,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,13,3374800,0,0,109633,0,6437,0,0,...,US,United States,8,818,2,2018,10,13,G,IF
9996,0,2,85000,346,51,0,0,1065,335,285,...,US,United States,6,614,1,2017,10,3,L,DU
9997,0,1,3400,9,0,0,0,48,27,19,...,US,United States,4,416,3,2019,3,1,L,DU
9998,1,5,142825,0,0,23051,0,393,312,285,...,US,United States,6,620,2,2017,3,1,G,DU
9999,0,1,42500,173,0,0,0,595,100,60,...,US,United States,6,614,1,2017,1,2,L,DU

In [14]:
# Splitting the dataset into training and testing sets
train_df_passengers_subset, test_df_passengers_subset = train_test_split(df_passengers_subset, test_size=0.3, random_state=42)

In [15]:
# Writing the training and testing sets to CSV files
train_df_passengers_subset.to_csv("train_passengers_subset.csv", index=False)
test_df_passengers_subset.to_csv("test_passengers_subset.csv", index=False)